@charset "utf-8";

*{
margin:0;
padding:0;
}

a{
	color:#101010;
	text-decoration: none;
}

.kd-left{
	float:left;
}

.kd-right{
	float:right;
}

.kd-page{
	font-size: 0.14rem;
	color:#101010;
	width:3.2rem;
	margin: 0 auto;
	overflow: hidden;
}

.kd-line{
	font-size: 0.14rem;
	color:#101010;
	line-height: 0.23rem;
}

.kd-working{
	color: #E51C23;
}

.kd-finish{
	color: #8BC34A;
}

.kd-no-data{
	width: 3.2rem;
	height: 0.28rem;
	line-height: 0.28rem;
	font-size: 0.28rem;
	position: absolute;
	top: 50%;
	margin-top: -0.14rem;
	text-align: center;
}

.kd-danger{
	width:3.2rem;
	line-height:0.23rem;
	padding:0.05rem;
	background: rgb(242, 222, 222);
	color:rgb(169, 68, 66);
	text-overflow: ellipsis;
}

.kd-success{
	width:3.2rem;
	line-height:0.23rem;
	padding:0.05rem;
	background: rgb(223, 240, 216);
	color:rgb(60, 118, 61);
	text-overflow: ellipsis;
}
