@charset "utf-8";

.kd-page{
	font-size: 1.4rem;
	color:#101010;
	width:31rem;
	padding:0 0.4rem;
	margin: 0 auto;
}

.kd-hd{
	height: 6.5rem;
	padding-top:1rem;
	padding-bottom:1rem;
	text-overflow:ellipsis;
	border-bottom: 1px solid #bbbbbb;
}

.kd-hd-img{
	width:6.5rem;
	height:6.5rem;
	line-height: 6.5rem;
	text-align: center;
	border: 1px solid #bbbbbb;
	border-radius:0.4rem;
	margin-right:0.4rem;
}

.kd-hd-desc{
	width:23rem;
	height:6.5rem;
	line-height: 2.3rem;
}

.kd-hd-desc a{
	color:#101010;
	border: 1px solid #bbbbbb;
	border-radius:0.4rem;
	text-align:center;
	width:6rem;
}

table{
	font-size: 1.4rem;
	color:#101010;
	width:100%;
	border: 1px solid #bbbbbb;
	border-radius:0.4rem;
	margin:1rem 0;
}

td{
	width:10rem;
	height: 2.3rem;
}

th{
	height:2.3rem;
	text-align: left;
}