@charset "utf-8";

.kd-item{
	overflow: hidden;
	border: 1px solid #BBBBBB;
	margin: 0.1rem 0.05rem;
}

.kd-item-hd{
	overflow: hidden;
	height: 0.45rem;
}

.kd-item-hd i:nth-of-type(1) {
	display:block;
	float:left;
	margin-top: 0.1rem;
	margin-left:0.1rem;
}

.kd-item-hd i:nth-of-type(2) {
	display:block;
	float: right;
	margin-top: 0.08rem;
	margin-right: 0.1rem;
}

.kd-item-hd span{
	display:block;
	height:0.23rem;
	line-height:0.23rem;
	margin-top: 0.1rem;
}

.kd-item-hd span:nth-of-type(1) {
	float:left;
	margin-left: 0.05rem;
	
}

.kd-item-hd span:nth-of-type(2) {
	float:right;
	margin: 0.1rem 0.2rem 0.1rem 0;
	color:#9A9C9A;
}

.kd-item-bd{
	height: 0.9rem;
	margin: 0 0.1rem 0.1rem 0.1rem;
	border:1px solid #BBBBBB;
	border-radius: 0.05rem;
	overflow: hidden;
}

.kd-item-bd div{
	overflow: hidden;
}

.kd-item-bd div span:nth-of-type(1){
	display: block;
	float:left;
	height: 0.4rem;
	line-height: 0.4rem;
	margin-left:0.35rem;
	margin-top:0.15rem;
	font-size: 0.28rem;
	color: #101010;
}

.kd-item-bd div span:nth-of-type(2){
	display: block;
	float:right;
	margin-right: 0.2rem;
}

.kd-desc{
	height: 0.23rem;
	line-height: 0.23rem;
	margin-left:0.35rem;
	font-size: 0.14rem;
	color: #9A9C9A;
}
