@charset "utf-8";

.kd-item{
	height: 1rem;
	overflow: hidden;
	margin:0.1rem 0.05rem 0 0.05rem;;
	border: 1px solid #BBBBBB;
}

.kd-hd-img{
	width:0.8rem;
	height: 0.66rem;
	display:block;
	float:left;
	background: #E5E5E5;
	margin: 0.11rem 0 0.11rem 0.1rem;
}

.kd-item table{
	width:1.8rem;
	float: left;
	margin-left:0.1rem;
	margin-top: 0.1rem;
}

.kd-item table tr{
	height: 0.23rem;
	line-height: 0.23rem;
	font-size: 0.14rem;
	color: #9C9A9C;
	text-align: center;
}

.kd-item table tr:nth-of-type(1){
	height: 0.26rem;
	line-height: 0.26rem;
	font-size: 0.18rem;
	color: #101010;
}

.kd-cer-lable{
	width:0.57rem;
	height:0.18rem;
	line-height:0.18rem;
	text-align:center;
	display: block;
	font-size:0.12rem;
	color:#FFFFFF;
	background: #8BC34A;
	border-radius: 0.04rem;
}

.kd-uncer-lable{
	width:0.57rem;
	height:0.18rem;
	line-height:0.18rem;
	text-align:center;
	display: block;
	font-size:0.12rem;
	color:#101010;
	background: #EDEDED;
	border-radius: 0.04rem;
}

.kd-item i{
	display: block;
	float: right;
	margin-top: 0.28rem;
	margin-right: 0.1rem;
}

.kd-btn-add{
	display: block;
	position:fixed;
	bottom:0;
	width: 3.1rem;
	height:0.28rem;
	margin:0 0.05rem 0 0.05rem;
	border: 1px solid #BBBBBB;
	background: #FFFFFF;
}

.kd-btn-add i{
	margin-left: 1.43rem;
}

body{
	margin-bottom: 0.3rem;
}


/**jquery-weui calendar调整*/
.toolbar-inner .icon{
	margin-top: 0.145rem;
}

.current-year-value{
	line-height: 0.44rem;
}
